.barra_de_entidades {
    background-color: #0c0b10;
    height: 58vh;
    padding: auto;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista_de_entidades {
    margin: 1cap;
    background-color: #c3b2d9;
    width: 96%;
    overflow: scroll;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 1cap;
    border-radius: 1em;
    justify-items: center;
    align-items: center;
}

.entidad_item {
    background-color: #161111;
    width: fit-content;
    height: auto;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.2rem solid #e1d8c1;
}

.datos {
    background-image: url();
    border-radius: 1rem;
}

.nombre {
    text-align: center;
    font-size: 100%;
}

.entidad {
    height: 98%;
}

.entidad_datos {
    font-size: 20px;
}

.entidad_botones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #0c0b10;
    justify-content: space-evenly;
    border-radius: 12px;
    padding: 0.4rem;
    border: 2px solid #ac6d6d;
}

.btn-editar {
    background-color: #c3b2d9;
    width: 45%;
    height: 90%;
    align-content: center;
    font-size: 92%;
}

.btn-eliminar {
    background-color: palevioletred;
    width: 45%;
    height: 90%;
    font-size: 92%;
    align-content: center;
}

.buscador {
    background-color: #1f2a47;
    border: 1px solid #e1d8c1;
    height: 5%;
    border-radius: 1em;
}

.buscadorEntidad {
    border: 2px solid #1f2a47;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}
