#crear_seccion {
    border-radius: 5px;
    background-color: #1f2a47;
    margin: 1rem;
    padding: 1cap;
}

.crear_boton {
    background-color: #e1d8c1;
    color: #1f2a47;
}

.btn_submit {
    background-color: #c3b2d9;
}

.btn_cancelar {
    background-color: #d9b3ca;
}
